/* Name, Date */
body {
    background-color: bisque;
    background: linear-gradient(bisque, rgb(213, 169, 114));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    background-color: rgb(238, 232, 223);
}

th {
    font-size:x-large;
    background-color: rgba(230, 199, 78, 0.534);
}

.table_sort {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#works_cited {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-decoration: underline;
}

h1 {
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img {
    height: 250px;


}

p {
    background: local;
    background-color: rgba(230, 199, 78, 0.534);
    margin-left: 3cm;
    margin-right: 3cm;
    margin-bottom: 1cm;
}

#quote {
    background: local;
    background-color: rgba(230, 199, 78, 0.534);
    margin-bottom: 1cm;
    margin-top: 0.5cm;
}