/* Name, Date */
body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    background-color: rgb(238, 232, 223);
}

th {
    font-size:x-large;
    background-color: rgba(231, 231, 51, 0.534);
}

.table_sort {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#works_cited {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-decoration: underline;
}

h1 {
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img {
    height: 250px;
}

